body {
  margin: 5%;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  justify-content: center;
}

.title {
  color: #16697a;
  text-align: center;
  margin-bottom: 1em;
}
#entryForm .button {
  border: unset;
  border-radius: 10%;
  padding: 0.5em 1em;
  margin-left: 65%;
  background-color: #16697a;
  color: aliceblue;
}

.entry-texbox {
  background-color: #ffa62b;
  width: 90%;
  max-width: 35em;
  height: 10em;
  padding: 1em;
  margin-bottom: 0.5em;
  border: unset;
  border-radius: 25px;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0px 0px 2px #000;
}
